body {
    height: 100vh;
    margin: 0;
    
    background-color: #FBFAF5;

    font-family: "Kanit", sans-serif;

    display: flex;
}

main {
    padding: 125px 50px;
}

img {
    height: 100vh;
    width: 35vw;
}

.quote, .author {
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

ul {
    list-style: none;

    padding: 0;
}

/* puts label on top of the input  */
li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fullname, .personal-data, .passwords {
    display: flex;
    gap: 250px;
    margin-top: 18px;
}


label {
    color: #55585a;

    font-weight: 500;
    font-size: 1.2rem;
}


